
@{
    ViewData["Title"] = "Edit Item";
}

<h1>Edit Item</h1>
<partial name="_ItemFormPartialView" />
<div>
    <a asp-action="Index" asp-controller="Item" class="btn btn-warning mt-3">Back to List</a>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}

