@model StoreViewModel
@{
    ViewData["Title"] = "Delete";
}

<div class="row justify-content-center">
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Delete Store</p>
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-text">Are you sure you want to delete <strong>@Model.Name</strong> Store?</h3>
                            <div class="form-group ">
                            <a asp-action="ConfirmDelete" asp-controller="Store" asp-route-Id="@Model.Id" class="btn btn-danger">Delete</a>
                                <a asp-action="Index" asp-controller="Store" class="btn btn-light">Cancel</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

