
@{
    ViewData["Title"] = "Edit Store";
}

<h1>Edit</h1>
<partial name="_StoreForm" />
<div>
    <a asp-action="Index" asp-controller="Store" class="btn btn-warning mt-3">Back to List</a>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}