
@{
    ViewData["Title"] = "Sell";
}

<h1>Sell</h1>
<partial name="_ProcessPartialView" />


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>

        let getBalance = () => {
            let storeId = $('#storesList').val();
            let itemId = $('#itemsList').val();
            if (storeId > 0 && itemId > 0) {
                $.ajax({
                    url: '@Url.Action("GetBalance", "Process")',
                    type: 'GET',
                    data: { storeId: storeId, itemId: itemId },
                    success: (data) => {
                        $('#balance').val(data);
                    },
                    error: () => {
                        alert('Error fetching balance');
                    }
                });
            } else {
                $('#balance').val('');
            }
        };

        let checkQuantity = () => {
            var quantity = parseInt($('#Quantity').val());
            var balance = parseInt($('#balance').val());

            if (quantity > balance) {
                $('#quantity-error').text('Not enough stock available.');
                $('#submitBtn').prop('disabled', true);
            } else {
                $('#quantity-error').text('');
                $('#submitBtn').prop('disabled', false);
            }
        };

        $(document).ready(() => {
            getBalance();
            $('#storesList, #itemsList').change(() => getBalance());
            $('#Quantity').change( () => checkQuantity() );
        });
    </script>
}

